.card {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    align-items: center;
    gap: 20px;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
