.card {
    display: grid;
    grid-template-columns: 1fr 130px 50px;
    align-items: center;
    gap: 20px;
}

.name {
    overflow: hidden;
    text-align: left;
    hyphens: auto;
    overflow: hidden;
    overflow-wrap: break-word;
}
