.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    align-items: center;
    justify-items: center;
}

.label {
    justify-self: left;
}

.chip {
    min-width: 50px;
}
