.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 10px calc(100% - 250px) 130px 50px;
    align-items: center;
    gap: 20px;
}

.name {
    text-align: left;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.sub_question {
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

.chip {
    min-width: 50px;
}
