.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    align-items: center;
    gap: 20px;
}

.name {
    text-align: left;
}

.sub_question {
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

.chip {
    width: 40px;
}
