.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    align-items: center;
    gap: 20px;
}

.grot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.chip {
    width: 40px;
}
