.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    justify-items: center;
}

.button {
    white-space: nowrap;
}

.label {
    justify-self: left;
}

.chip {
    min-width: 50px;
}

.below {
    position: fixed;
    bottom: 20px;
}
